# Core
streamlit
pandas
numpy
requests

# Excel
openpyxl
xlsxwriter

# Charts & Visualization
matplotlib
seaborn
plotly

# Machine Learning / Analysis
scikit-learn

# Zerodha API
kiteconnect

# Telegram Alerts
python-telegram-bot==13.15

# For scheduling / automation
schedule

# Optional (good to have for data wrangling)
yfinance
